<!--STUDENT ID: 816016203 -->

{% extends "layout.html" %}
{% block title %} Posts {% endblock %}

{% block page %} 
{{ current_user.username }}'s Posts 

{% block link%} 
    <ul id="nav-mobile" class="right">
        <li><a href="/logout">Logout</a></li>
    </ul>
{% endblock %}

{% endblock %}



{{ super() }}

{% block content %}

<style>
    textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
    }

    .cardCollection {
        display: flex;
        justify-content: center;
    }


        
</style>

<!-- This code allows the messages to flash indicating the status e.g if you have logged in successfully, 
if a post has been deleted, if your username is invalid etc.
 -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <nav class="white black-text" style="padding: 10px">
        <div class="nav-wrapper">
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
      </nav>
    {% endif %}
    {% endwith %}

    {% if current_user.is_authenticated %} <!--Referenced Lab 6 for this statement-->

    <!-- This code outputs the add post form.-->
        <div id="content">
            <div class="container">
            <br>
                <div class="row">
                   <h4 style= "text-align: center"> Welcome {{ current_user.username }} </h4> 
                   <br>
                    <form class="col s12 m8 offset-m2 card-panel"  action="/add_post" method="POST">
                    
                        <div class="input-field col s12 m8 offset-m2"> 
                        <br>
                            <textarea name ="textarea"> </textarea>
                        </div>

                        <div class="input-field col s12 m8 offset-m2">
                            <button type = "submit" style="float: right;"> 
						        Add Post
					        </button>
                        </div> 
                    
                    </form>
                </div>
            </div>
        </div>

        <!-- This code outputs the posts entered and previous posts as well.
        Referenced the extra lab for assistance with this and edited it to suit.
        -->

        <div id="content">
        <div class="container">
            {% for post in posts %}
               <li class = "cardCollection">
                    <form class= "card panel " style= "width: 500px;">
                        <div style="border-style: ridge;">
                            <span class="card-title" style="text-align:center;">
                                {% if current_user.id == post.userId %}
                                    <p> User: {{current_user.username }} </p>
                                {% else %}
                                    {% for user in users %}
                                        {% if post.userId == user.id %}
                                            <p> User: {{user.username }} </p>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                <p> {{post.text}} </p>
                                <p> Dislikes : {{post['Dislikes']}}  </p>
                                <p> Likes : {{post['Likes']}} </p>
                            </span>

                            <div class="card-action" >    
                                <!-- Code to check if this post belongs to the current logged in user then they will get the delete post option otherwise they won't.-->
                                {% if current_user.id == post.userId%} 
                                    <a href="/deletePost/{{post.id}}"> DELETE </a> <!--Delete button code -->
                                    <p> Please select a checkbox: &nbsp;&nbsp; 
                                        <label>
                                            <input type="checkbox" name = "reacts" id= "like"/>
                                            <span>Like &nbsp; &nbsp;</span>
                                        </label>
                                    
                                        <label>
                                            <input type="checkbox" name = "reacts" id = "dislike"/>
                                            <span> Dislike </span>
                                        </label>
                                    </p>
                                {% else %}
                                    <p> Please select a checkbox: &nbsp;&nbsp; 
                                        <label>
                                            <input type="checkbox" name = "reacts" id= "like" />
                                            <span>Like &nbsp; &nbsp;</span>
                                        </label>
                                    
                                        <label>
                                            <input type="checkbox" name = "reacts" id = "dislike" />
                                            <span> Dislike </span>
                                        </label>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </form>

                </li>
            {% endfor %}
        </div>
        </div>  
    {% endif %}
{% endblock %}