<!--STUDENT ID: 816016203 -->

{% extends "layout.html" %}
{% block title %} Posts {% endblock %}
{% block page %} {{ current_user.username }}'s Posts {% endblock %}

{{ super() }}

{% block content %}
    {% if current_user.is_authenticated %} <!--got this if statement from lab 6-->
        <div id="content">
            <div class="container">
            <br>
                <div class="row">

                   <h4 style= "text-align: center"> Welcome {{ current_user.username }} </h4> 
                   <br>
                    <form class="col s12 m8 offset-m2 card-panel" method="POST" action="/app">

                        <div class="input-field col s12 m8 offset-m2"> 
                        <br>
                            <textarea> </textarea>
                        </div>

                        <div class="input-field col s12 m8 offset-m2">
                            <button type = "submit" > 
						        Add Post
					        </button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>

{% endif %}
{% endblock %}