<!--STUDENT ID: 816016203 -->

{% extends "layout.html" %}
{% block title %} Login {% endblock %}
{% block page %} Login {% endblock %}

{{ super() }}

{% block content %}
    <div id="content"> 
       <div class="row">
            <form class="col s12 m8 offset-m2" action="/login" method="POST">
                <br> <br>
                <div class="input-field col s12 m8 offset-m2">
                    <input type="text" placeholder="Enter Username" name="username" required>  
                </div>

                <div class="input-field col s12 m8 offset-m2"> 
                    <input type="password" placeholder="Enter Password" name="password" required> 
                </div>

                <div class="form-btn">
                    <button class = "btn"> 
						Login
					</button>
				</div>

            </form>
        </div>
    </div>
{% endblock %}   
